@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300, 400, 700);

html, body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to bottom left, #3A5161, #554C4F);
  color: #fff;
  margin: 0;
  height: 100%;
  min-height: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 2em;
}

button {
  border-color: #ccc;
  background-color: #444548;
  outline: none;
  overflow: hidden;
  border-radius: 0.25em;
  color: #fff;
  padding: 0.3em 0.4em;
  text-align: center;
  font-size: 1em;
  margin: 0.2em;
  height: 2.8em;
  min-width: 3.2em;
  width: auto;
}

button:hover {
  background-color: transparent;
}

h1 {
  padding: 1rem 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #428BCA;
  text-decoration: none;
}

#ips {
  margin: 3em 0;
}

h4 {
    color: #428BCA;
}

table {
    width: 65%;
    min-width: auto;
}

th {
    font-size: 1.22em;
    height: 2em;
}

td {
    font-size: 1.22em;
    height: 1.75em;
    border-radius: 0.2em;
    padding: 0;
    margin: 0;
}

td:nth-child(3) {
  width: 1px;
}

